@charset "utf-8";

#debug
{
	color:#fff;
	font-family:Verdana, Times, serif;
	font-size:12px;
	height:300px;
	margin:20px auto;
	padding:0;
	width:958px;
}

#debug div
{
	height:280px;
	margin:0;
	overflow:scroll;
	padding:0;
	width:938px;
}

a,
a:hover,
a:visited
{
	color:#fff;
	text-decoration:none;
}

body
{
	background:URL('../images/seamless_wood.jpg') repeat top left;
	background-size:auto;
	color:#312217;
	font-family:Verdana, Georgia, Times, serif;
	font-size:13px;
	margin:0;
	padding:0;
	vertical-align:top;
}

div.white-box a,
div.white-box a:hover,
div.white-box a:visited
{
	color: #312217;
}

div#content
{
	width:960px;
	margin: 151px auto 10px;
	padding: 0px 0px 0px;
}

div#content div.right-column
{
	float:right;
	width:460px;
}

div#content div.logged-in
{
	margin-top:83px;
}

div#control-panel
{
	width:960px;
	margin: 16px auto 4px;
	height:35px;
	text-align:right;
}

div#footer
{
	margin: 10px auto;
	padding: 10px 5px;
	width:800px;
	font-size: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align:center;
}

div#header
{
	background: URL('../images/header.png') center top no-repeat;
	height:143px;
	top:60px;
	position:absolute;
	width:100%;
	text-align:center;
}

div#guest-login
{
	margin: 20px auto;
	width:482px;
	/*height:46px;*/
	padding:10px 0px 14px;
	text-align:center;
	color:#fff;
	font-family: Verdana, Georgia, Times, serif;
	font-size: 18px;
}

div#register-button
{
	width:170px;
	/*height:50px;*/
	margin: 20px 0px;
	padding:10px 0px 14px;
	text-align:center;
	display: inline-block;
	font-family: Verdana, Georgia, Times, serif;
	font-size: 15px;
}

div#account input#submit,
div#register input#submit
{
	margin: 10px auto;
	padding:10px;
	text-align:center;
	color:#fff;
	font-family: Verdana, Georgia, Times, serif;
	font-size: 16px;
}

div#login input#submit
{
	float:right;
	margin: 0px 50px;
}

div#account,
div#login,
div#register
{
	width:460px;
	background-color: transparent;
	background-image: URL('../images/graybg2.png');
	padding:10px;
	margin:215px auto 0px;
	border-radius: 15px;
	border: 3px solid white;
	text-align:center;
	color:#3c2313;
}

div#account,
div#register
{
	font-size:14px;
}

div#login input.check
{
	border-radius: 2px;
	border: none;
}

div#account input.text,
div#login input.text,
div#register input.text
{
	border-radius: 5px;
	border: none;
	width: 220px;
	height: 24px;
	margin: 0px 0px 10px;
	padding:3px 8px;
}

div#account label.text,
div#login label.text,
div#register label.text
{
	width:130px;
	display:inline-block;
	text-align:right;
	color:#3c2313;
	font-size:12px;
	font-weight:bold;
}

div#account-head,
div#cellar-head,
div#login-head,
div#on-tap-head,
div#register-head
{
	background-color:transparent;
	display:inline-block;
	font-family:Verdana, Georgia, Times, serif;
	font-size:27px;
	height:35px;
	margin:5px 0 10px;
	width:434px;
	text-align:center;
	font-weight:normal;
	letter-spacing:3px;
}

div#on-tap
{
	min-height:700px;
}

div#cellar-head,
div#on-tap-head
{
	color:#9a2622;
	margin-top:15px;
}

div#on-tap-beers
{
	background-color: transparent;
	background-image: URL('../images/grouping.png');
	background-repeat:no-repeat;
	background-position:center 8px;
	width: 404px;
	min-height:180px;
	margin: 5px 0px 15px;
	padding:0px 15px;
	display:inline-block;
}

div.on-tap-group
{
	background-color:transparent;
	display:inline-block;
	margin:-5px 0 0 0;
	width:404px;
	color: #43413f;
	text-align:center;
	font-family:Verdana, Georgia, Times, serif;
	font-size:22px;
	font-weight: normal;
	letter-spacing:4px;
}

div.on-tap-page
{
	min-height:600px;
}

div#cellar
{
	min-height:380px;
}

div.cellar-page
{
	width: 404px;
	margin: 5px 0px 15px;
	padding:0px 15px;
	display:inline-block;
	min-height:250px;
}

div#consumed,
div#redeem
{
	min-height:44px;
	padding-top:0px;
	padding-bottom:0px;
}

div.consumed-page
{
	min-height:370px;
}

div#consumed-head,
div#how-it-works-head,
div#redeem-head
{
	background-color:transparent;
	display:inline-block;
	font-family:Verdana, Georgia, Times, serif;
	color: #fff;
	font-size:20px;
	height:30px;
	margin:5px 0 5px;
	padding:5px 0 0 0;
	width:434px;
	text-align:center;
	font-weight:normal;
	letter-spacing:1px;
}

div#consumed-head span.bold,
div#redeem-head span.bold
{
	font-weight:bold;
	font-family:Arial, Verdana, Georgia, Times, serif;
	font-size: 22px;
}

div#consumed-head div.check,
div#redeem-head div.check
{
	float:left;
	background:url("../images/icons.png") top left no-repeat;
	width:28px;
	height:26px;
	margin:0 0 0 20px;
	padding:0 0 0 0;
}

div#consumed-head div.check
{
	background-position:-10px -197px;
}

div#redeem-head div.check
{
	background-position:-10px -161px;
}

div#how-it-works-beer
{
	background: URL("../images/icons.png") top left no-repeat;
	width:44px;
	height:80px;
	background-position:-10px -10px;
	margin: -32px 30px 0px 0px;
	padding:0px;
	float:right;
}

div#on-tap div.check
{
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:5px 5px;
	background-image: URL('../images/red-check.png');
}

div#on-tap div.check-green
{
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:5px 5px;
	background-image: URL('../images/green-check.png');
}

div#how-it-works-text,
div#consumed-text div.beer
{
	color:#fff;
}

div.consumed-page
{
	width: 404px;
	margin: 5px 0px 15px;
	padding:0px 15px;
	display:inline-block;
}

div#on-tap-control,
div#cellar-control,
div#consumed-control
{
	padding: 0 40px;
	width: 354px;
	text-align:center;
	margin:5px 0px 15px;
}

div#on-tap-control div,
div#cellar-control div,
div#consumed-control div
{
	background-repeat:no-repeat;
	background-position: center center;
	background-color:transparent;
	width:24px;
	height:24px;
	display:inline-block;
}

div#on-tap-control div:hover,
div#cellar-control div:hover,
div#consumed-control div:hover,
div#consumed-head:hover,
div#how-it-works-head:hover
{
	cursor:pointer;
}

div#on-tap-control div.previous,
div#cellar-control div.previous,
div#consumed-control div.previous
{
	background-image: URL('../images/gray-left.png');
	float: left;
}

div#on-tap-control div.next,
div#cellar-control div.next,
div#consumed-control div.next
{
	background-image: URL('../images/gray-right.png');
	float: right;
}

div#on-tap-control div.button,
div#cellar-control div.button
{
	background-image: URL('../images/gray-button.png');
}

div#consumed-control div.button
{
	background-image: URL('../images/dark-button.png');
}

div#on-tap-control div.selected,
div#cellar-control div.selected
{
	background-image: URL('../images/red-button.png')!important;
}

div#consumed-control div.selected
{
	background-image: URL('../images/gray-button.png')!important;
}

div.beer
{
	width:364px;
	margin: 5px 20px;
	padding: 5px 0px;
	text-align:center;
	border-bottom: 2px #6a594c solid;
}

div.beer p.name
{
	font-size: 16px;
	font-weight:bold;
	font-style:italic;
	margin: 3px 0px;
	padding:0px;
}

div.beer p.info,
div.beer p.name span.smaller
{
	font-size: 12px;
	margin: 3px 0px;
	padding:0px;
}

div.beer p.name span.smaller
{
	font-size: 11px;
}

div.hidden,
div.ui-loader
{
	display: none;
}

div.red-button,
input.red-button
{
	background:#9a2622;
	border-top: #b15754 solid 2px;
	border-left: #b15754 solid 2px;
	border-right: #84201d solid 2px;
	border-bottom: #84201d solid 2px;
	border-radius: 10px;
	color:#fff;
	cursor:pointer;
}

div.user-button
{
	background-color:transparent;
	background-image: URL('../images/redbg.png');
	border: #fff solid 2px;
	border-radius: 6px;
	padding:2px 8px 4px;
	display:inline;
	margin: 0 2px;
	width:70px;
	text-align:center;
}

div#facebook-link
{
	background-image: URL('../images/facebook-link.png');
	background-repeat:no-repeat;
	background-position:center center;
	padding:0px;
	height:110px;
	width:450px;
}

div#menu-link
{
	background-image: URL('../images/menu-link.png');
	background-repeat:no-repeat;
	background-position:center center;
	padding:0px;
	height:110px;
	width:450px;
}

div.box
{
	border: #fff solid 3px;
	border-radius: 10px;
	padding:2px 8px 4px;
	display:inline-block;
	margin: 20px 0px 0px;
	width:434px;
	text-align:left;	
}

div.white-box
{
	background-color:transparent;
	background-image: URL('../images/graybg2.png');
}

div.dark-box
{
	background-color:transparent;
	background-image: URL('../images/darkbg.png');
}

div.red-box
{
	background-color:transparent;
	background-image: URL('../images/redbg.png');
}

div.green-box
{
	background-color:transparent;
	background-image: URL('../images/greenbg.png');
}

div.red-hr
{
	width:434px;
	height:2px;
	background-color: transparent;
	background-image: URL('../images/red-hr.png');
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	margin:10px 0px;
	padding:0px;
}

div#user-panel
{
	margin-top:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-top:none;
	padding:10px 10px 10px 30px;
	width:410px;
	font-size:14px;
	height:60px;
	color:#ffffff;
}

div#how-it-works
{
	min-height:44px;
	padding-top:0px;
	padding-bottom:0px;
}

div#how-it-works-text h1
{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	margin:10px 12px;
}

div#how-it-works-text p
{
	margin:6px 12px 24px;
}

div#user-stats
{
	display:block;
	font-size:22px;
	height:40px;
	font-family:Verdana, Georgia, Times, serif;
	color: #fff;
	margin:10px 0;
	padding:0 0 0 0;
	font-weight:normal;
	letter-spacing:1px;
}

div#user-stats span.bold
{
	font-weight:bold;
	font-family:Arial, Verdana, Georgia, Times, serif;
	font-size: 24px;
}

h1
{
	color:#646973;
	font-size:30px;
	font-weight:400;
	margin:10px 0 15px;
	padding:0;
}

h2
{
	color:#646973;
	font-size:16px;
	font-weight:700;
	margin:0 0 16px;
	padding:0;
}

h3
{
	color:#646973;
	font-size:14px;
	font-weight:700;
	margin:0 0 14px;
	padding:0;
}

hr
{
	background-color:#646973;
	border:0;
	color:#646973;
	height:1px;
}

img
{
	border:0;
}

p
{
	margin:0 10px 13px;
	padding:0;
}
