@charset "utf-8";

@media print
{
	#debug
	{
		visibility: hidden !important;
	}

	div#shows, div#production
	{
		page-break-inside: auto;
	}

	div.group, div.no-break
	{
		page-break-inside: avoid;
	}

	div.show, div.production
	{
		page-break-inside: avoid !important;
		padding-bottom: 20px;
	}

	div#print-link
	{
		visibility: hidden;
	}
}

@page
{
	header: html_myHeader;
	footer: html_myFooter;
	margin-top:1.25in;
}

#debug
{
	color:#000000;
	font-family:Verdana, Times, serif;
	font-size:12px;
	height:300px;
	margin:20px auto;
	padding:0;
	width:958px;
}

#debug div
{
	height:280px;
	margin:0;
	overflow:scroll;
	padding:0;
	width:938px;
}

a,
a:hover,
a:visited
{
	color:#000000;
	text-decoration:none;
}

body
{
	color:#000000;
	font-family:Century Gothic, Verdana, Georgia, Times, serif;
	font-size:13px;
	margin:0;
	padding:0;
	vertical-align:top;
}

div.content
{
	margin: -10px 0 0 0;
}

div.content div
{
	margin:0 0 0 30px;
}

div.content div.group
{
	margin:0;
	padding:0;
}

div#header
{
	width:100%;
	text-align:left;
}

div#header .float
{
	float:right;
}

div.hidden,
div.ui-loader
{
	display: none;
}

div.no-break
{
	padding:0;
	margin:0 !important;
}

div#print-link
{
	float:right;
	margin:0 0 5px 0;
	padding:0;
}

div.show, div.production
{
	margin: 0 0 20px 20px !important;
	display: table;
}

h1
{
	font-size:18px;
	font-weight:normal;
	margin:10px 0 15px 20px;
	padding:0;
}

h2
{
	font-size:18px;
	font-weight:bold;
	margin:10px 0 10px 20px;
	padding:0;
}

h3
{
	font-size:16px;
	font-weight:bold;
	margin:0 0 14px 20px;
	padding:0;
}

h4
{
	font-size:14px;
	font-weight:normal;
	font-style: italic;
	margin:0 0 14px 0;
	padding:0;
}

hr
{
	background-color:#000000;
	border:0;
	color:#d25c30;
	height:4px;
	margin: 14px 0 0 0;
}

img
{
	border:0;
}

ol
{
	padding: 0 0 0 30px;
}

ol li
{
	font-weight: bold;
	padding: 0 0 2px 0;
	line-height: 20px;
}

ol li ul li
{
	font-weight: normal;
	line-height: normal;
}

p
{
	margin:2px 10px 2px;
	padding:0;
}

table
{
	margin: 3px;
}

ul
{
	margin: 0;
	padding: 4px 0 4px 30px;
}

.pill
{

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	border-radius: 8px;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin: 2px 3px !important;
	padding: 1px 3px;
}

.light-warm-gray, .cool-gray
{
	background-color: #8da3a6;
	color: #ffffff;
}

.light-teal, .blue-green
{
	background-color: #37c5ab;
	color: #ffffff;
}

.light-red, .pink
{
	background-color: #fc91ad;
	color: #ffffff;
}

.light-purple, .purple
{
	background-color: #aa62e3;
	color: #ffffff;
}

.light-pink, .magenta
{
	background-color: #e362e3;
	color: #ffffff;
}

.light-ornage, .yellow-orange
{
	background-color: #fd9a00;
	color: #ffffff;
}

.light-green, .yellow-green
{
	background-color: #a4cf30;
	color: #ffffff;
}

.light-blue, .blue
{
	background-color: #4186e0;
	color: #ffffff;
}

.dark-teal, .aqua
{
	background-color: #20aaea;
	color: #ffffff;
}

.dark-red, .red
{
	background-color: #e5213b;
	color: #ffffff;
}

.dark-purple, .indigo
{
	background-color: #7a6ff0;
	color: #ffffff;
}

.dark-pink, .hot-pink
{
	background-color: #ea4e9d;
	color: #ffffff;
}

.dark-orange, .orange
{
	background-color: #fd612c;
	color: #ffffff;
}

.dark-green, .green
{
	background-color: #62d26f;
	color: #ffffff;
}

.dark-brown, .yellow
{
	background-color: #eec300;
	color: #ffffff;
}

.none
{
	background-color: #f6f8f9;
	
}